@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.dashboard-page {
    // background-color: #F9FAFC;
    .dashboard-cards {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        .dashboard-cards-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 274px;
            height: 158px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 2px rgba(100, 116, 139, 0.06), 0px 2px 4px rgba(100, 116, 139, 0.1);
            border-radius: 8px;
            .cards-box-title {
                width: 60%;
                height: 60%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .cards-box-title-name {
                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 30px;
                    color: #6b7280;
                }
                .cards-title-size {
                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 44px;
                }
            }
            .cards-box-stack {
                .cards-box-avatar {
                    width: 64px;
                    height: 64px;
                    .cards-box-icon{
                        width: 25px;
                        height: 25px;
                    }
                }
                #cards-box-avatar-1 {
                    background-color: rgba(209, 67, 67, 1);
                }
                #cards-box-avatar-2 {
                    background-color: rgba(20, 184, 166, 1);
                }
                #cards-box-avatar-3 {
                    background-color: rgba(255, 176, 32, 1);
                }
                #cards-box-avatar-4 {
                    background-color: rgba(80, 72, 229, 1);
                }
            }
            .cards-box-comments {
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                line-height: 19.92px;
                color: rgba(209, 67, 67, 1);
                .cards-bottom-icon {
                    transform: rotate(-90deg);
                    margin-right: 5px;
                }
                span {
                    font-family: 'Inter', sans-serif;
                    color: rgba(107, 114, 128, 1);
                    margin-left: 5px;
                }
            }
            .cards-box-progress {
                width: 80%;
                height: 5px;
                background-color: rgba(80, 72, 229, 0.5);
                margin-bottom: 5px;
                .cards-box-progress-active {
                    width: 75.5%;
                    height: 100%;
                    background-color: rgba(80, 72, 229, 1);
                }
            }
        }
    }
    .all-charts {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        .diagram-charts-card {
            width: 800px;
            height: 657px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 2px rgba(100, 116, 139, 0.06), 0px 2px 4px rgba(100, 116, 139, 0.1);
            .diagram-charts-header {
                width: 100%;
                height: 50px;
                background-color: rgba(255, 255, 255, 1);
                border-bottom: 2px solid #F2F2F2;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .diagram-charts-title {
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 24.75px;
                }
                select  {
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 24px;
                    border: none;
                    background: none;
                    outline: none;
                    cursor: pointer;
                    color: rgba(80, 72, 229, 1);
                }
                .PureComponent-section {
                    width: 100%;
                    height: 100%;
                    // .salom {
                    //     // position: absolute;
                    // }
                }
            }
        }
        .circle-charts-card {
            width: 30%;
            background-color: red;
        }
    }
}