@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.login-page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-card {
        width: 450px;
        height: auto;
        margin: 50px 0;
        padding: 30px 0;
        box-shadow: 0px 4px 6px -2px rgba(100, 116, 139, 0.05), 0px 10px 15px -3px rgba(100, 116, 139, 0.12);
        border-radius: 8px;
        .login-back {
            display: flex;
            align-items: center;
            margin-left: 45px;
            gap: 10px;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            padding: 10px 0;
            color: rgba(80, 72, 229, 1);
            .login-icon-back {
                font-size: 20px;
                color: rgba(80, 72, 229, 1);
            }
        }
        .login-title {
            margin-left: 45px;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-top: 10px;
            color: rgba(17, 24, 39, 1);
        }
        .login-comment {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 21.98px;
            color: rgba(107, 114, 128, 1);
            margin-left: 48px;
            margin-bottom: 10px;
        }
        .login-network {
            width: 350px;
            margin-left: 45px;
            padding: 10px 0;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .login-btn-facebook {
                background-color: #4267B2;
                color: white;
                width: 150px;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 7px;
                line-height: 26px;
                gap: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                .facebook-icon {
                    font-size: 18px;
                }
            }
            .login-btn-gmail {
                background-color: #EA4335;
                color: white;
                width: 150px;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 7px;
                line-height: 26px;
                gap: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                .gmail-icon {
                    font-size: 18px;
                }
            }
        }
        .login-text {
            width: 100%;
            height: auto;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 21.98px;
            text-align: center;
            padding: 5px 0;
            color: rgba(107, 114, 128, 1);
        }
        .login-mui {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            .login-input {
                width: 350px;
            }
        }
        .login-stack {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            .login-button {
                width: 350px;
                background-color: rgba(80, 72, 229, 1);
            }
        }
        .login-login {
            width: 100%;
            height: 30px;
            margin-left: 55px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-size: 10px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            line-height: 21.98px;
            gap: 7px;
            color: rgba(107, 114, 128, 1);
            .login-login-link{
                font-size: 12px;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                line-height: 21.98px;
                gap: 7px;
                color: rgba(80, 72, 229, 1);

            }
        }
    }
}